html, body {
    height: 100%;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.home-background {
    width: 100%;
    height: calc(100vh - 41.59px);
    background-image: url('../assets/images/students.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-outline {
    color: white; 
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; 
}

.text-outline-none {
    text-shadow: none;
}