<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Student Management System</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/students/">Students</a>
                </li>
                <li>
                    <a href="/courses/">Courses</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Student Management System</p>
    </footer>
</body>
</html>